

  <div class="navbar navbar-default navbar-static-top" style="margin-bottom: 10px">
    <div class="container ">
      <div class="navbar-header">
          <div class=" pull-left">
            <a href="{{url '/overview' }}"
               class="btn btn-link navbar-btn"
               data-url="client">
              <i class="fa fa-arrow-left"></i> Back</a>
          </div>
          <div class="navbar-toolbar pull-right">
            <span class="static-text">Week of the: </span>
            <input class="week-picker"
                   data-bind="value: firstOfWeek, max: endOfWeek"
                   data-role="datepicker"
                   data-format="MMM dd"/>
          </div>
      </div>
    </div> 
  </div>

<div class="top-bar scrolling-pills" data-spy="affix" data-offset-top="62">
  <div class="container">
      <ul class="nav nav-pills nav-justified">
          {{#each days}}
          <li data-bind="class: { nav-success: submitted }" {{#unless @index}}class="active"{{/unless}} >
          <a href="{{url '/diary/%s' (dateFormat date 'MMM-DD-YY') }}" 
              data-url="client" 
              data-target="#day_{{@index}}" 
              data-toggle="pill">
            {{dateFormat date 'Do: dddd'}}
            <i class="fa fa-pencil" data-bind="visible: days[{{@index}}].started"></i>
          </a>
          </li>
          {{/each}}
        </ul>
  </div>
</div>
<div class="pg-main container">
  <div class="callout callout-info" data-bind="visible: submitted">This Diary has already been submitted so you cannot change it</div>
  <div class="tab-content">
    {{#each days}}
    <div class="tab-pane fade {{#unless @index}}in active {{/unless}}" id="day_{{@index}}"></div>
    {{/each}}
  </div>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    
    <div class="navbar-toolbar navbar-right">
      <button class="btn btn-default btn-save"   data-bind="invisible: submitted" data-loading-text="Saving diary..">Save and continue later</button>
      <button class="btn btn-success btn-submit" data-bind="invisible: submitted" data-loading-text="Submitting...">Submit Diary</button>
      <button class="btn btn-warning btn-unsubmit" data-bind="visible: submitted">Unsubmit</button>
    </div>
    <div class="message-area navbar-right"></div>
  </div>
</nav>
