<form class="form-horizontal">
    <input type="hidden" value="{{ _id }}" name="_id"></input>
    <input type="hidden" value="{{ dayOfWeek }}" name="dayOfWeek"></input>
    <input type="hidden" value="{{ week }}" name="week"></input>
    <input type="hidden" value="{{ year }}" name="year"></input>
    <fieldset>
        <legend>Behaviors</legend>

        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3">Misery</label>
            <div class="col-md-10 col-sm-9">
              {{radio-range 6  'use' }}
            </div>
	      </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3">Suicide Ideation</label>
            <div class="col-md-10 col-sm-9">
              {{radio-range 6  'suicide' }}
            </div>
	    </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3">Self Harm</label>
            <div class="col-md-10 col-sm-9">
              {{radio-range 6  'selfHarm' }}
            </div>
	    </div>
    </fieldset>
	<fieldset>
        <legend>Emotions</legend>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3">Pain</label>
            <div class="col-md-10 col-sm-9">
              {{radio-range 6  'pain' }}
            </div>
	      </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3">Sadness</label>
            <div class="col-md-10 col-sm-9">
              {{radio-range 6  'sadness' }}
            </div>
	    </div>
        <div class="form-group">
          <label class="control-label col-md-2 col-sm-3">Shame</label>
          <div class="col-md-10 col-sm-9">
            {{radio-range 6  'shame' }}
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2 col-sm-3">Anger</label>
          <div class="col-md-10 col-sm-9">
            {{radio-range 6  'anger' }}
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2 col-sm-3">Fear</label>
          <div class="col-md-10 col-sm-9">
            {{radio-range 6  'fear' }}
          </div>
	      </div>
      <div class="form-group">
        <label class="control-label col-md-2 col-sm-3">Joy</label>
        <div class="col-md-10 col-sm-9">
          {{radio-range 6 'joy' }}
        </div>
      </div>
    </fieldset>

    <fieldset>
        <legend>Urges</legend>

        <div class="form-group ">
            <label class="control-label col-md-2 col-sm-3">Alcohol</label>
            <div class="col-md-10 col-sm-9">
                <input class="form-occurances"
                     {{bind-to 'value: alcohol.times' 
                       role="numerictextbox"
                       decimals=0
                       format="#"
                       min="0"}}/>
                <span class="form-control-static" > Number of times</span>
                <textarea {{bind-to 'value: alcohol.specify' }} class="form-control input-padding" placeholder="optionally specify what happened..."></textarea>
            </div>
	    </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3">Over the Counter Medications</label>
            <div class="col-md-10 col-sm-9">
                <input class="form-occurances"
                       {{bind-to 'value: otc.times' 
                       role="numerictextbox"
                       decimals=0
                       format="#"
                       min="0"}} />
                <span class="form-control-static" > Number of times</span>
                <textarea {{bind-to 'value: otc.specify' }} class="form-control input-padding" placeholder="optionally specify what happened..."></textarea>
            </div>
	    </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3">Prescription Medications</label>
            <div class="col-md-10 col-sm-9">
                <input class="form-occurances"
                       {{bind-to 'value: prescription.times' 
                           role="numerictextbox"
                           decimals=0
                           format="#"
                           min="0"}}/>
                <span class="form-control-static" > Number of times</span>
                <textarea {{bind-to 'value: prescription.specify' }} class="form-control input-padding" placeholder="optionally specify what happened..."></textarea>
            </div>
	    </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3">Illicit Drugs</label>
            <div class="col-md-10 col-sm-9">
                <input class="form-occurances"
                       {{bind-to 'value: illicit.times' 
                           role="numerictextbox"
                           decimals=0
                           format="#"
                           min="0"}}/>
                <span class="form-control-static" > Number of times</span>
                <textarea {{bind-to 'value: illicit.specify' }} class="form-control input-padding" placeholder="optionally specify what happened..."></textarea>
            </div>
	    </div>
    </fieldset>
    <fieldset>
        <legend>---</legend>
        <div class="form-group">
          <div class="checkbox col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3">

            <label>
              <input type="checkbox" name="causedSelfHarm" value="true" />Caused self-harm</label>
          </div>
        </div>
        
        <div class="form-group ">
            <label class="control-label col-md-2 col-sm-3">Skills</label>
            <div class="col-md-10 col-sm-9">
                <label class="radio">
                    <input type="radio" name="skills" value="0" data-bind="checked: skills"/>Not thought about or used</label>
                <label class="radio">
                    <input type="radio" name="skills" value="1" data-bind="checked: skills"/>Thought about, not used, did not want too</label>
                <label class="radio">
                    <input type="radio" name="skills" value="2" data-bind="checked: skills"/>Thought about, not used, wanted to</label>
                <label class="radio">
                    <input type="radio" name="skills" value="3" data-bind="checked: skills"/>Tried but could not use them</label>
                <label class="radio">
                    <input type="radio" name="skills" value="4" data-bind="checked: skills"/>Tried, could do them, but they didn't help</label>
                <label class="radio">
                    <input type="radio" name="skills" value="5" data-bind="checked: skills"/>Tried, could use them, helped</label>
                <label class="radio">
                    <input type="radio" name="skills" value="6" data-bind="checked: skills"/>Did not try, used them, did not help</label>
                <label class="radio">
                    <input type="radio" name="skills" value="7" data-bind="checked: skills"/>Did not try, used them, helped</label>
            </div>
	    </div>
    </fieldset>
    <div class="form-group form-action">
      <div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10">
        <button type="button" class="btn btn-default btn-save" >Save and continue later</button>

        <label class="checkbox-inline">
          <input type="checkbox" name="skills" data-bind="checked: submitted"/>Complete
        </label>
      </div>
    </div>
</form>